body {
    background-color:#0000ff;
}

h1  {
    color: white;
    font-family: 'Fjalla One', sans-serif;
    text-shadow: 3px 3px 3px #ababab;
    font-size: large;
}

p   {
    color: white;
    font-family: 'Fjalla One', sans-serif;
    font-size: medium;
}