body {
    background-color:aqua;
}

h1  {
    color:black;
    font-family: 'Fjalla One', sans-serif;
    text-shadow: 3px 3px 3px #ffffff;
    text-align: left;
    font-size: 60px;
    border-width: 5px;
    border-radius: 10px;
    border-color: black;
    border-style: outset;
    padding: 5px;
}

p   {
    color:  black;
    font-family: 'Fjalla One', sans-serif;
    font-size: 30px;
    border-style: ridge;
    border-color: black;
    padding: 5px;
    width: 300px;
}

h2 {
    color: black;
    font-family: 'Fjalla One', sans-serif;
    border-style: ridge;
    border-radius: 10px;
    border-color: aqua;
    text-align: left;
    font-size: 60px;
}

#p2 {
    color: black;
    border-radius: 10px;
}